
<!DOCTYPE html>
<html>
<head>
<style>
body {
	background-color: deepskyblue !important;
}
</style>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
	<div class="text-center" {#style="margin-top:200px;"#}>

	<h1 style="color:white; text-align: center;">Äänestyssovellus</h1>
	<p>	
		
		<a href="/Tsoha/vote" class= "btn btn-success btn-lg" style= "width: 200px; height:50px;"> Selaa äänestyksiä</a>

		
	</p>
	<p>
		<a href="/Tsoha/login" class= "btn btn-warning btn-lg" style= "width: 200px; height:50px;"> Kirjaudu sisään</a>

		
	</p>
	<p>
		<u>
		<a href= "/Tsoha/register"
		style="color: #000000;">Rekisteröidy</a>
	</u>
</p>
</div>
</body>
  </html>

