{% extends "base.html" %}
{% block content %}
  <h1>Rekisteröidy</h1>

  
  <form>
    
    <div class="form-group">
      <label>Etunimi</label>
      <input class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Sukunimi</label>
      <input class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input class="form-control" type="text">
    </div>

    
    <div class="form-group">
      <label>Salasana</label>
      <input class="form-control" type="password">
    </div>

    <div class="form-group">
      <label>Toista salasana</label>
      <input class="form-control" type="password">
    </div>

    <button type="submit" class="btn btn-primary">Rekisteröidy</button>
  </form>
{% endblock %}