{% extends "base.html" %}
{% block content %}
<h1> Luo äänestys</h1>
<form>
	
	
	
	<p>
	</p>
	
	<div class="form-group">
	<label>Nimi</label>
	<input type="text" class="form-control" value="">
	<p>
	</p>
	<label>Kategoria</label>
	<input type="text" class="form-control" value="">
	</div>

	

	<div class="form-group">
	<label>Sulkeutumispäivä</label>
	<p>
	</p>

	<input type="date" min="{{today.value}}">		
	</div>

	<div class="form-group">
	<Label>Kuvaus</Label>
	<textarea class= "form-control">
	</textarea>
	</div>

	
	
	<p>
	</p>
	<p>
	</p>
	<p>
	</p>

	<div class="form-group">
		<button type="submit" class= "btn btn-primary">Luo aanestys</button>
	</div>
</form>

{% endblock %}