{% extends "base.html" %}
{% block content %}
{% if user_logged_in.admin %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Käyttäjätunnus</th>
            <th>Nimi</th>			           
        </tr>
    </thead>

    <tbody
        {%for kayttaja in kayttajat%}
		<tr>
			<td><a href="{{base_path}}/user/{{kayttaja.id}}">{{kayttaja.kayttajatunnus}}</td>
			<td>{{kayttaja.nimi}}</td>					
<!--			<th><a class="btn btn-default btn-sm" href="{{base_path}}/vote/{{aanestys.id}}/edit">Muokkaa</a></th>
		</tr>-->
		{% endfor %}
</tbody>
</table>
{% endif %}
{% endblock %}