{% extends "base.html" %}
{% block content %}
<h1>Äänestykset</h1>
<p>
	<a href="{{base_path}}/vote/new" class="btn btn-success">Luo äänestys</a>
	</p>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Nimi</th>
			
			<th>Kategoria</th>
			<th>Alkamispäivä</th>
			<th>Status</th>					
			<th>Sulkeutumispäivä</th>
			<th></th>
		</tr>
	</thead>


	<tbody>
		{%for aanestys in aanestykset%}
		<tr>
			<td><a href="{{base_path}}/vote/{{aanestys.id}}">{{aanestys.nimi}}</td>
			<td>{{aanestys.kategoria_id}}</td>
			<td>{{aanestys.alkamispaiva}}</td>
			<td>
				{% if aanestys.kaynnissa %}
				<label class="label label-success">Käynnissä
					{% else %}
					<label class="label label-danger">Sulkeutunut
						{% endif %}
					</td>
			<td>{{aanestys.sulkeutumispaiva}}</td>						
			<th><a class="btn btn-default btn-sm" href="{{base_path}}/vote/{{aanestys.id}}/edit">Muokkaa</a></th>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

