{% extends "base.html" %}
{% block content %}
<h1> Luo äänestys</h1>
<form method="post" action="{{base_path}}/vote">
	

	
	<div class="form-group">
	<label>Nimi</label>
	<input type="text" class="form-control" value="">
	<p>
	</p>
	<label>Kategoria</label>
	<input type="text" class="form-control" value="">
	</div>

	<div class="form-group">
	<label>Alkamispäivä</label>
	<input type="text" class="form-control" value="">		
	</div>

	<div class="form-group">
	<label>Sulkeutumispäivä</label>
	<input type="text" class="form-control" value="">		
	</div>

	<div class="form-group">
	<Label>Kuvaus</Label>
	<textarea class= "form-control">
	</textarea>
	</div>

	<div class="form-group">
	<label>Vastausvaihtoehto1</label>
	<input type="text" class="form-control" value="">		
	</div>

	<div class="form-group">
	<label>Vastausvaihtoehto2</label>
	<input type="text" class="form-control" value="">		
	</div>

	<div class="form-group">
	<label>Vastausvaihtoehto3</label>
	<input type="text" class="form-control" value="">		
	</div>
	
	
	<p>
	</p>
	<p>
	</p>
	<p>
	</p>

	<div class="form-group">
		<button type="submit" class= "btn btn-primary">Luo aanestys</button>
	</div>
</form>

{% endblock %}