{% extends "base.html" %}
{% block content %}
<h1>Luo äänestys</h1>
<form method="post" action="{{base_path}}/vote">
	

	
	<div class="form-group">
	<label>Nimi</label>
	<input type="text" class="form-control" name="nimi">
	<p>
	</p>
	<label>Kategoria</label>
	<input type="text" class="form-control" name="kategoria">
	</div>

	<div class="form-group">
	<label>Alkamispäivä</label>
	<input type="text" class="form-control" name="alkamispaiva">		
	</div>

	<div class="form-group">
	<label>Sulkeutumispäivä</label>
	<input type="text" class="form-control" name="sulkeutumispaiva">		
	</div>

	<div class="form-group">
	<Label>Kuvaus</Label>
	<textarea class= "form-control" name="kuvaus"></textarea>
	</div>

    <br>
    <br>
    <br>
    <br>

	<div class="form-group">
		<button type="submit" class= "btn btn-primary">Jatka</button>
	</div>
</form>

{% endblock %}