{% extends "base.html" %}
{% block content %}

<h1>{{aanestys.nimi}}</h1>
<p>
<button class="btn btn-danger">Poista</button> <a href="{{base_path}}/vote/{{aanestys.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>

<ul>
	
	<li><strong>Alkamispäivä:</strong>{{aanestys.alkamispaiva}}</li>
	<li><strong>Kategoria:</strong>{{aanestys.kategoria_id}}</li>
	<li><strong>Sulkeutumispäivä: </strong>{{aanestys.sulkeutumispaiva}}</li>
</ul>
<p class="lead">
	{{aanestys.kuvaus}}</p>
<br>
</br>

        {%for vaihtoehto in vaihtoehdot%}
		<tr>
			
			<td>{{vaihtoehto.vaihtoehto}}</td>														
		</tr>
		{% endfor %}


{% endblock %}