{% extends "base.html" %}
{% block content %}
{% if message != null %}
<br>
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
<h1>{{aanestys.nimi}}</h1>
<!--<p>
<a href="{{base_path}}/vote/{{aanestys.id}}/destroy" class="btn btn-danger">Poista</a> <a href="{{base_path}}/vote/{{aanestys.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>-->
{% if (user_logged_in.id == aanestys.kayttaja_id) or (user_logged_in.admin) %}
<form 
    method="post" action="{{base_path}}/vote/{{aanestys.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
    <a href="{{base_path}}/vote/{{aanestys.id}}/edit" class="btn btn-default">Muokkaa</a>
</form>
{% endif %}
<br>
</br>

<ul>

    <li><strong>Kategoria:</strong>{{aanestys.kategoria_id}}</li>
    <li><strong>Sulkeutumispäivä: </strong>{{aanestys.sulkeutumispaiva}}</li>
</ul>
<br>
</br>
<blockquote>
<p>
    {{aanestys.kuvaus}}
</p>
</blockquote>
<br>
</br>

{% if aanestys.kaynnissa %}


<form method="post" action="{{base_path}}/vote/{{aanestys.id}}/add" style="display: inline-block;">
    
{%for vaihtoehto in vaihtoehdot%}
{% for taulukko1 in taulukot%}

{% if taulukko1[0] == vaihtoehto.id %}
        <input type="radio" name="vaihtoehto_id" value="{{vaihtoehto.id}}"> ({{vaihtoehto.vaihtoehto}}) Ääniä annettu ({{taulukko1[1]}})<br>

{% endif %}
{%endfor%}


    {% endfor %}
    
    </br>
    <button type="submit" class="btn btn-default">Äänestä</button>
</form>
{% endif %}
    {% endblock %}